@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
:root {
    --color-primary: #2b4158; /* Azul cielo */
    --color-danger: #f25c05;  /* Naranja cálido */
    --color-white: #ffffff;   /* Blanco puro */
    --color-light: #f88484;   /* Tono arena */
    --color-bg: #ece5de; /* Azul claro para el fondo */
    
    --color-gray-100: hsl(30, 10%, 96%); /* Tono arena claro */
    --color-gray-200: hsl(30, 10%, 86%); /* Arena ligeramente más oscuro */
    --color-gray-300: hsl(30, 10%, 70%); /* Gris suave */
    --color-gray-500: hsl(30, 10%, 50%); /* Gris intermedio */
    --color-gray-700: #3a3a3a; /* Gris oscuro */
    --color-gray-900: #2a2a2a; /* Gris más profundo para texto */
    
    --transition: .3s ease all;
    --border-radius-1:.2rem;
    --border-radius-2:.4rem;
    --border-radius-3:.8rem;
    --border-radius-4:1.6rem;
}

html{
    font-family: "Montserrat", sans-serif;
}
body{
    background: var(--color-bg);
    font-size: 16px;
    color:var(--color-gray-700)
}
a{
    text-decoration: none ;
    color: var (--color-gray-700)
}
ul li {
    list-style: none;
}
h1 , h2 , h2, h4 , h5, h6 {
   color: var(--color-gray-900);
   line-height: 1.1 ;    
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.9rem;
}
h3{
    font-size:1.3rem ;
    line-height: 1.25;
}
h4{
    font-size: 1.1rem;
}
h5{
    line-height: 1.4;
}

.img{
    display: block ;
    object-fit: cover;
    width: 100% ;
}
section {
    margin-top: 8rem ;

}
.container{
    width: 90% ;
    margin: 0 auto ;
    max-width: 1000px;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: .6rem 1.2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    font-weight: 500 ;
    cursor: pointer;
    transition: var(--transition);

}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);

}
.btn-category{
    background: var(--color-bg) ;
    color: var(--color-primary);
    font-size: .85rem;
    font-weight: 400;
}
.btn-sm{
    font-size:.9rem ;
    padding:.4rem .8rem ;
    font-weight: 500;
}
.btn-danger{
    background: var(--color-danger);
    color: var(--color-white);
    }
    .btn:hover{
        background: var(--color-gray-900);
        color:var(--color-white);
    }

 /* ------------------ BEGGIN OF THE NAV VAR ---------------------------- */
nav{
    background: var(--color-primary);
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid var(--color-light);
    z-index: 100;

}
.nav-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;

} 
.nav-logo h3{
    color:var(--color-white);
    font-size: 1.6rem;
    font-weight: 500;
}
.nav-logo h3 span {
    color: var(--color-light);
}
.nav-menu{
display: flex;
align-items: center;
gap: 3rem;
}
.nav-menu li a {
    color: var(--color-white);
    transition: var(--transition);
}
.nav-menu li a:hover{
    color: var(--color-light);
}
.nav-toggle-button{
background: transparent;
color: var(--color-white );
display: none;

}
/*------------------ END OF THE NAV VAR ---------------------------- */
/*------------------ BEGGIN OF THE FOOTER ---------------------------- */
footer {
    background: var(--color-gray-900);
    margin-top: 8rem;
    padding-top: 6rem;
  }
  
  .footer-categories {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .footer-categories li a {
    color: var(--color-white);
    background: var(--color-gray-500);
    padding: 0.6rem 1.4rem;
    border-radius: var(--border-radius-2);
    transition: var(--transition);
  }
  
  .footer-categories li a:hover {
    color: var(--color-gray-900);
    background: var(--color-white);
  }
  
  .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    padding: 1rem 0;
    color: var(--color-white);
    border-top: 1px solid var(--color-light);
    font-weight: 300;
    position: relative;
  }
  
  .rofe-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-image {
    width: 4.2rem;
    height: 4.2rem;
  }
  
  .text-container {
    font-family: 'Montserrat', sans-serif;
    color: #ecdbdb;
  }
  
  .rofeli {
    font-weight: bold;
    font-size: 16px;
    color: #ecdbdb;
  }
  
  .rofeli br {
    display: block;
    margin-bottom: 5px;
  }
  
  
  /*------------ END OF THE FOOTER ---------------------------- */

  /* -------------- ERROR PAGE------------------ */
.error-center{
    text-align: center;
    margin-top: 1rem;
    display:flex;
    flex-direction:column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}


/*--------------- END ERROR PAGE -------------*/ 

/*======================== Home Begin ========================*/
.posts-container, .categoryPosts-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem; /* Reduce el espacio entre posts */
}

.authorPosts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}


.head-post {
  padding: 2rem;
  background-color: var(--background-color);
}

.head-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 100%; 
  min-height: 500px; 
  margin: 0 auto;
}


.head-post-container {
  background-image: url("../src/assets/Img/headpost.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0%;
  border-radius: 0.45rem;
  color: var(--color-white); 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.post-content-head {
  background: rgba(0, 0, 0, 0.5); 
  padding: 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

.post-content-head h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.post-content-head p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
}


.post {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--border-radius-4);
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.post-image {
  border-radius: var(--border-radius-3);
  overflow: hidden;
  height: 16rem;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content-head {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  padding: 1rem; 
}

.post-content h3 {
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--color-primary);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

.post-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-gray-900);
  margin: 0;
  padding: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.post-footer {
  display: flex;
  align-items: flex-end;
  margin-top: 2rem;
  justify-content: space-between;
}

.post-author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.post-author-image {
  width: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1/1;
  border: 4px solid var(--color-light);
}

.post-author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Start PostDetails */
.PostDetail-container {
  width: 60%;
  padding: 2rem;
  background: var(--color-white);
}

.postdetail-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.postdetail-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.postdtail-image {
  margin: 1rem 0;
  max-height: 26rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.postdtail-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.postdtail-para {
  margin: 1rem 0;
  color: var(--color-gray-700);
  line-height: 1.6;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
/* End PostDetails */

/*========================== Sing In Styles beggin ============================*/
form {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

input, select, textarea {
  width: 100%;
  padding: .7rem 1.1rem;
  border-radius: var(--border-radius-1);
  resize: none;
}
.form-message {
  background: var(--color-danger);
  color: var(--color-white);
  font-size: .8rem;
  padding: .8rem 1.1rem;
  display: block;
  margin-bottom: 1.1rem;
  border-radius: var(--border-radius-1);
}
.form-container {
  width: 50%;
}

.form-container h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.form-container small {
  margin-top: 1.5rem;
  display: block;
}
.page-title{
  text-align: center;
  padding-bottom: .8rem;
}
.lintusi{
color: var(--color-danger);
}
/*========================== Sing In Styles end ============================*/

/*========================== Authors Details==================================*/

.author-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  justify-content: center;
}

.author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.author-avatar {
  background: var(--color-white);
  padding: 1rem;
  border-radius: var(--border-radius-3);
  display: flex;
  align-items: center;
  gap: 4rem;
  transition: var(--transition);
  margin: auto;
}
.author-avatar:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}
.author-image {
  flex-shrink: 0; 
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.author-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/*========================== Authors Details==================================*/

/*========================== Star AuthorProfile Aria==================================*/

.profile-container .form {
  width: 70%;
}
.form-container{ width: 50%;

}
.profile-container a {
  display: block;
  width: fit-content;
  color: var(--color-primary);
  font-size: 18px;
  font-weight: 500;
  margin: 1rem auto;
  transition: var(--transition);
  padding: .7rem 1.2rem;
  border-radius: var(--border-radius-1);
}
.profile-container a:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
.profile-container {
  text-align: center;
}

.profile-details {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  align-items: center;}

  .profile-wrapper {
    position: relative;
  }
  
  .profile-image img {
    width: 12rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid var(--color-light);
  }

  .profile-image-form {
    position: absolute;
    background: none;
    width: fit-content;
    right: -2rem;
    font-size: 1.7rem;
    bottom: 1rem;
    padding: 1rem;
    border-radius: .1rem;
    display: flex;
  }
  
  .profile-image-form input {
    display: none;
  }
  
  .profile-image-button {
    position: absolute;
    background: none;
    width: fit-content;
    right: 1rem;
    font-size: 1.7rem;
    bottom: 1.1rem;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
  }
 
/*========================== End AuthorsProfile Aria ==================================*/
/*============================ End Dashboard =========================================*/
.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.dashboard-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--color-white);
  padding: .7rem 1.3rem;
  border-radius: var(--border-radius-3);
}

.dashboard-post-info {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.dashboard-post-image {
  width: 5rem;
  border-radius: var(--border-radius-2);
  overflow: hidden;
}

.dashboard-posts-action {
  display: flex;
  gap: 1rem;
}

.dashboard-posts-action .btn-V {
  background: var(--color-light);
}

.dashboard-posts-action .btn-V:hover {
  background: var(--color-gray-900);
}
.dashboard-post-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.dashboard-post:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/*============================ End Dashboard =========================================*/
/*============================ Start QL Editor =========================================*/
.ql-editor {
  overflow: scroll;
  background: var(--color-white);
  height: 19rem !important;
}
.editPosts-container{
  margin-top: 2rem;}
/*============================ End´s QL Editor =========================================*/

/*============================ Star`s Media Screen =========================================*/

@media (max-width: 1024px) {
  h1 {
    font-size: 1.5rem !important;
  }

  h2 {
    font-size: 1.4rem !important;
  }


/* ... Nav ... */

.nav-container {
  position: relative;
  height: 100%;
}
.nav-menu {
  position: absolute;
  top: 5rem;
  display: flex;
  gap: 0;
  right: 0;
  flex-direction: column;
  perspective: 400px;
}

.nav-menu li {
  width: 100%;
  box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
  animation: NavAni forwards 400ms ease;
  opacity: 0;
  transform: rotateY(90deg);
  transform-origin: top right;

}

@keyframes NavAni {
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

.nav-menu li:nth-child(2) {
  animation-delay: 100ms;
}

.nav-menu li:nth-child(3) {
  animation-delay: 300ms;
}

.nav-menu li:nth-child(4) {
  animation-delay: 400ms;
}

.nav-menu li:nth-child(5) {
  animation-delay: 700ms;
}

.nav-menu li a {
  display: block;
  background: var(--color-primary);
  padding: 1.4rem 4.2rem;
}

.nav-toggle-button {
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}
/* ... Home ... */
.head-post-container {
  gap: 2rem;
}

.posts-container, .categoryPosts-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr)); 
  gap: 1.5rem; 
}
/* ... Author posts ... */
.authorPosts-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 2rem; 
}

/* ... Post Detail ... */
.PostDetail-container {
  width: 70%;
}
.author-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
  justify-content: center;
}

/* ... Form Container ... */
.form-container {
  width: 70%;
}


}

@media (max-width: 600px) {
  /* ... Home ... */
  .head-post-container {
    grid-template-columns: 1fr;
  }

  .head-post-container .post-image {
    grid-row: 1;
  }

  .posts-container {
    grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
  }
  /* ... Author posts ... */
.authorPosts-container {
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;}

/* ... PostDetail ... */
.PostDetail-container {
  width: 70%;
}
.PostDetail-container {
  width: 90%;
  background: transparent;
  padding: 0;
}
/* ... Author ... */
.author-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  justify-content: center;
}

/* ... Form Container ... */
.form-container {
  width: 90%;
}
}


/*============================ End`s Media Screen =========================================*/
